@import './reset.css';
@import './fonts.css';
@import './tailwind.css';

:root {
  --body-bg: #f4f4f4;
  --body-text-color: #0f0f0f;
  --selection-bg: color-mix(in srgb, var(--p-primary-color) 30%, transparent);
}

:root[class='dark'] {
  --body-bg: #0f0f0f;
  --body-text-color: #f4f4f4;
  --selection-bg: color-mix(in srgb, var(--p-primary-color) 30%, transparent);
}

html {
  font-family: var(--font-base);

  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;

  color: var(--body-text-color);
  background-color: var(--body-bg);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  transition:
    color 0.3s ease,
    background-color 0.3s ease;
  -webkit-transition:
    color 0.3s ease,
    background-color 0.3s ease;
  -moz-transition:
    color 0.3s ease,
    background-color 0.3s ease;
  -ms-transition:
    color 0.3s ease,
    background-color 0.3s ease;
  -o-transition:
    color 0.3s ease,
    background-color 0.3s ease;
}

body * ::selection {
  background-color: var(--selection-bg);
}

body * ::-moz-selection {
  background-color: var(--selection-bg);
}

body * ::-webkit-selection {
  background-color: var(--selection-bg);
}

code {
  font-family: var(--font-mono);
}

/*
PrimeVue Styles for specific classes
*/

.p-password-toggle-mask-icon {
  cursor: pointer;
}

.p-card {
  @apply dark:border dark:border-neutral-700;
}
